body {
  padding-top: 70px;
}

#zoom {
  display: table;
  width: 100%;
}

#zoom > span {
  display: table-cell;
  padding-left: 20px;
}

#zoom > div {
  display: table-cell;
}

#zoomOut {
  margin-right: 8px;
}

#zoomIn {
  margin-right: 5px;
  position: absolute;
  right: 0;
}

.peakaboo-filter.active {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.peakaboo-filter-zero {
  opacity: .64;
}

.peakaboo-dropdown-label {
  padding-right: 30px;
}
