body {
  padding-top: 70px;
}

#zoom button {
  float: right;
  margin-right: 3px;
}

#zoom table {
  width: 100%;
}

#zoom td > span {
  padding-left: 20px;
}

.peakaboo-filter.active {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.peakaboo-filter-zero {
  opacity: .64;
}

.peakaboo-dropdown-label {
  padding-right: 30px;
}
