body {
  padding-top: 70px;
}

#zoom button {
  font-family: monospace;
  background-color: #eee;
}

#zoom button:hover,
#zoom button:focus,
#zoom button:active {
  background-color: #ddd;
}

#zoom span {
  display: inline-block;
  color: #777;
  padding: 0 5px;
}

.peakaboo-filter.active {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.peakaboo-filter-zero {
  opacity: .64;
}
