.peakaboo-fader .slider {
  display: block;
  margin: 0 auto 22px auto;
}

.peakaboo-fader .slider-handle {
  opacity: 1;
  width: 24px;
  height: 32px;
}

.peakaboo-fader .slider-handle.custom {
  margin-left: -7px
}

.peakaboo-fader-capture .slider-handle.custom {
  background: transparent url('images/fader-red.png') no-repeat;
}

.peakaboo-fader-playback .slider-handle.custom {
  background: transparent url('images/fader-blue.png') no-repeat;
}

.peakaboo-fader .slider-handle.custom::before {
  content: '';
}

.peakaboo-fader .slider-disabled .slider-handle.custom {
  opacity: 0.8;
}
