.progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.progress {
  margin: 0
}

.panel-title > a,
.panel-title,
.popover-title,
.popover-content {
  color: black !important; 
}

.popover-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.popover-content li {
  padding: 3px;
}

.popover-title {
  background-color: #d9edf7;
}

.meta {
  display: none;
}
