.progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.progress {
  margin: 0
}

.panel-title > a,
.panel-title {
  color: black !important; 
}