.panel-title a,
.panel-title,
.popover-title,
.popover-content {
  color: black !important;
}

.popover-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.popover-content li {
  padding: 3px;
}

.popover-title {
  background-color: #d9edf7;
}

.meta {
  display: none;
}

.panel-title > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-title .tooltip {
  white-space: initial;
}

.panel-title span[data-toggle="tooltip"] {
  display: inline-block;
  white-space: nowrap;
}
