.peakaboo-command {
  margin: 10px 10px 0 10px;
}

.transport-control {
  margin-bottom: 10px;
}

.peakaboo-controls hr {
  margin: 10px 0 10px 0;
}

#audio-panel .slider {
  display: block;
  margin: 0 auto 22px auto;
}

#audio-panel .slider-handle {
  opacity: 1;
  margin-left: -7px;
  width: 24px;
  height: 32px;
}

.fader-red .slider-handle.custom {
  background: transparent url('images/fader-red.png') no-repeat;
}

.fader-blue .slider-handle.custom {
  background: transparent url('images/fader-blue.png') no-repeat;
}

#audio-panel .slider-handle.custom::before {
  content: '';
}

#audio-panel .slider-disabled .slider-handle.custom {
  opacity: 0.8;
}


#audio-panel .progress.vertical {
  width: 20px;
  height: 210px;
  margin: 0 auto 22px auto;
}

#audio-panel .progress.vertical .progress-bar {
  width: 20px;
}
